≠≠<!-- your html code here -->

<div class="container space-between">
    <h3>Portfolio</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil vitae commodi, praesentium obcaecati, a ut assumenda recusandae exercitationem beatae velit debitis deserunt in ad corporis doloremque distinctio aperiam neque. Harum, tenetur dolorum facere atque saepe dolore cum. A, deserunt exercitationem?
    </p>
    <div class="row">
        <div class="col-12  col-md-6 col-lg-4 p-3">
            <div class="card">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>
                </div>
            </div>
        </div>

        <div class="col-12  col-md-6 col-lg-4 p-3">
            <div class="card">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>
                </div>
            </div>
        </div>

        <div class="col-12  col-md-6 col-lg-4 p-3">
            <div class="card">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
