<!-- tagline por Hector -->
 <div class="card text-white border-0">
    <img src="assets/img/bg.jpg" class="card-img" alt="Banner">
    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">       
        <div class="w-100 bg-white bg-opacity-75 py-2">
            <h1 class="fw-bold text-dark text-center mb-0 display-3 display-md-2 display-lg-1">
                One Page Wonder
            </h1>
        </div>
        <div class="my-1 my-md-2"></div>       
        <div class="w-100 bg-white bg-opacity-75 py-2">
            <h2 class="fw-bold text-dark text-center mb-0 display-5 display-md-4 display-lg-3">
                Will Knock Your Socks Off
            </h2>
        </div>
    </div>
</div>
